@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cart-container{
  font-family: Roboto;
}

.btn-checkout{
  border: 1px solid #333;
  padding: 10px 20px;
  color: #333;
  border-radius: 4px;
  float: right;
}

.btn-checkout:hover{
  text-decoration: none;
  background-color: #333;
  color: #fff;
}
.btn-checkout:active{
  transform: scale(.99,.99);
  text-decoration: none;
}

.remove-link{
  color: #333;
}

.remove-link:hover{
  transform: scale(1.5,1.5);
}