@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.products-table{
  font-family: Roboto;
}

.item-des{
  width:500px;
}

.item-photo{
  text-align: center;
}

.adphoto{
  width : 100px;
}

.item-action{
  text-align: center;
}
.icons{
  margin-right: 10px;
}
#icon{
  color: white;
}
.table-curved {
  border-radius: 6px;
  border-left:0px;
}
.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #fff !important;
}
.table-curved th:first-child {
  border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
  border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
  border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}