@font-face { font-family: Roboto; 
  src: url('../font/Roboto.ttf'); } 

.listings{
  overflow: hidden;
  background-color: #F7F7F7;
  border-radius: 4px;
}
right.cont{
  background-color: #F7F7F7;
}

.listing-panel{
  padding-bottom: 20px;
  /* height: 171px;
  width : 845px; */
}
.listing-heading {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
.listing-row{
  border-bottom: 1px solid #e3e3e3;
  padding-top: 15px;
  padding-bottom: 20px;
}
.imgcontainer{
  text-align: center;
  margin-bottom: 10px;
}

.listing-img{
  width: 125px;
  height: 100%;
  border: 3px solid #8f8f8c;
}

.listing-title{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 10px;
  text-align: start;
  position: relative;
  z-index: 3;
}
/* .descriptioncontainer{
  width: 500px;
  height: 100px; 
} */
.listing-des{
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto 20px;
  text-align: start;
  position: relative;

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow:  ellipsis; */
  z-index: 3;
}
.pricecontainer{
  text-align: center;
}

.listing-price{
  font-size: 15px;
  font-weight: 550;
  margin-top: 30px;
}